# Ignore the virtual environment folder
myenv/
venv/

# Ignore the secrets file
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore generated task folders
generated_tasks/
logs/
# IDEs and Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
venv/
.env

models/*